[Unit]
Description=__APP__ service
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__/
ExecStart=__INSTALL_DIR__/venv/bin/python3 __INSTALL_DIR__/zeronet.py --ui_port __PORT__ --ui_host __DOMAIN__ --fileserver_port __PORT_FS__ --data_dir __DATA_DIR__/data --log_dir __DATA_DIR__/log --ui_password __PASSWORD__
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
